# MacOS Build Artifacts
*.DS_Store

# Secrets and keys ****DO NOT COMMIT SECRETS***
*.env
*/secrets.json

# Logs
*.log
*.gz

# IDE files
## Visual Studio Code files
.vscode

## JetBrains IDE files
*.idea

## Python virtual environment
*/venv

# Language specific output
## Node.js dependencies
node_modules

## Java build files
*/target

# Mongosh temporary files
temp
