# Secrets (keep example)
tmp/.env
!.env.example
tmp/.env.development
.env.production
tmp/.env.test

# config files (keep example)
configs
!configs/config.example.json

# temporary files
tmp
temp

# downloaded logs
*.log
*.gz
